<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../../static/css/first_web_page.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='dead.ico') }}">
    <title>NOODLES RECIPE</title>
</head>
<body>
    <div class="heading"><h1 id="jump">NOODLES</h1>
     <p>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRK4xXYy2qcs3DwTElMG7AyjyTDzfh-KsSAPA&usqp=CAU" alt="noodles" >
    </p></div>
     <h3>DESCRIPTION</h3>
     <p>
        <strong>Noodles</strong> are a type of food made from unleavened dough which is either rolled flat and cut, stretched, or extruded, into long strips or strings.<br>While long, thin strips may be the most common, many varieties of noodles are cut into waves, helices, tubes, strings, or shells, or folded over, or cut into other shapes. Noodles are usually cooked in boiling water, sometimes with cooking oil or salt added. They are often pan-fried or deep-fried. Noodles are often served with an accompanying sauce or in a soup. Noodles can be refrigerated for short-term storage or dried and stored for future use.
     </p>
       
    <h3>INGREDIENTS</h3>
    <p>
        <ul>
            <li>Noodles</li>
            <li>Sauce and vinegar</li>
            <li>Vegetables</li>
            <li>Salt,oil,black pepper</li>
        </ul>
    </p>

    <h3>STEPS:</h3>
    <p>
        <ol>
            <li>Boil water in large pot and add noodles cook it.(Don't over cook it)</li>
            <li>Drain the water of the noodles and rinse with cold water.</li>
            <li>Spread a teaspoon oil all over noodles to avoid lumps.</li>
            <li>
                Prepare vegetables as per taste:
                <ul>
                    <li>cabbage</li>
                    <li>carrot</li>
                    <li>beans</li>
                    <li>green chillies and onion ,etc.</li>
                </ul>
            </li>
            <li>Fry the vegetables,onions,garlic,chillies,etc.</li>
            <li>Add the cooked noodles and add 1/2 teaspoon black pepper,sauces,salt,etc. according to taste.</li>
            <li>Toss or mix and stir for two mins without burning and turn off the heat.</li>
            <li>Serve it.</li>
        </ol>
    </p>
    <a href="../index.html">Main page</a>
<br>
    <a href="#jump">Back to top</a>
</body>
</html>
